@model Broker
@{
    ViewData["Title"] = "Edit Broker";
}

<h2>Edit broker</h2>

@using (Html.BeginForm("Edit", "Brokers", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(b => b.FirstName, "First name")
        @Html.TextBoxFor(b => b.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.LastName, "Last name")
        @Html.TextBoxFor(b => b.LastName, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(b => b.Id)
    <button type="submit" class="btn btn-primary">Save changes</button>
    @Html.ActionLink("Cancel", "Index", "Brokers", null, new { @class = "btn btn-secondary" })
} 