@model _08_19_RealEstate.ViewModels.CompanyFormViewModel
@{
    ViewData["Title"] = "Add a Company";

    var brokers = Model.Brokers.Select(b => new { Id = b.Id, FullName = b.ToString() }).ToList();
}

<h2>Add a company</h2>

@using (Html.BeginForm("Create", "Companies", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Company.Name, "Company name")
        @Html.TextBoxFor(m => m.Company.Name, new { @class = "form-control" })
    </div>
    <div class="form-row">
        <div class="form-group col-sm-5">
            @Html.LabelFor(m => m.Company.Address.City)
            @Html.TextBoxFor(m => m.Company.Address.City, new { @class = "form-control" })
        </div>
        <div class="form-group col-9 col-sm-5">
            @Html.LabelFor(m => m.Company.Address.Street)
            @Html.TextBoxFor(m => m.Company.Address.Street, new { @class = "form-control" })
        </div>
        <div class="form-group col-3 col-sm-2">
            @Html.LabelFor(m => m.Company.Address.HouseNr, "House Nr.")
            @Html.TextBoxFor(m => m.Company.Address.HouseNr, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedBrokersIds, "Select brokers")
        @Html.ListBoxFor(m => m.SelectedBrokersIds, new SelectList(brokers, "Id", "FullName"), new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Company.Id)

    <button type="submit" class="btn btn-primary">Add</button>
    @Html.ActionLink("Cancel", "Index", "Companys", null, new { @class = "btn btn-secondary" })
} 