@model _08_19_RealEstate.ViewModels.ApartmentsIndexViewModel
@{
    ViewData["Title"] = "Apartments";

    var brokers = Model.Brokers.Select(b => new { Id = b.Id, FullName = b.ToString() }).ToList();
}

<h2 class="d-inline-block mb-4">Apartments</h2>

@Html.ActionLink("Add an apartment", "Create", "Apartments", null, new { @class = "btn btn-primary float-right" })

@using (Html.BeginForm("Index", "Apartments", FormMethod.Post))
{
    <p class="font-weight-bold">Filter by:</p>
    <div class="row">
        <div class="col-sm">
            @Html.DropDownListFor(m => m.FilterModel.City,
                                  new SelectList(Model.Cities),
                                  "<City>",
                                  new { @class = "form-control" })
        </div>
        <div class="col-sm">
            @Html.DropDownListFor(m => m.FilterModel.CompanyId,
                                  new SelectList(Model.Companies, "Id", "Name"),
                                  "<Company>",
                                  new { @class = "form-control" })
        </div>
        <div class="col-sm">
            @Html.DropDownListFor(m => m.FilterModel.BrokerId,
                                  new SelectList(brokers, "Id", "FullName"),
                                  "<Broker>",
                                  new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-4">Filter</button>
}

@if (Model.Apartments.Count == 0)
{
    <p>There are no apartments.</p>
}
else
{
    <table id="apartments" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">Apartment Address</th>
                <th class="text-center align-middle">Company</th>
                <th class="text-center align-middle">Broker</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartment in Model.Apartments)
            {
                <tr>
                    <td class="text-center align-middle">
                        @Html.ActionLink(
                                        apartment.Address.ToString(),
                                        "Details",
                                        "Apartments",
                                        new { id = apartment.Id })
                    </td>
                    <td class="text-center align-middle">
                        @Html.ActionLink(
                                        apartment.Company.Name,
                                        "BrokersInCompany",
                                        "Brokers",
                                        new { companyId = apartment.Company.Id, companyName = apartment.Company.Name })
                    </td>
                    <td class="text-center align-middle">
                        @Html.ActionLink(
                                        apartment.Broker.ToString(),
                                        "ApartmentsOfBroker",
                                        "Apartments",
                                        new { brokerId = apartment.Broker.Id, brokerName = apartment.Broker.ToString() })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}